@page
@model Final_Project_Games.Pages.Game.GameModel
@{
    ViewData["Title"] = "Game";
}

<h1> Games </h1>
<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Rating)
            </th>
        </tr>
    </thead>
</table>